In [1]:
import pandas as pd
import numpy as np
from pathlib import Path
import functools

In [2]:
path1=Path("/home/znazari/")

In [3]:
path2=Path("/scratch/znazari/PPMI_ver_sep2022/RNA_Seq_data/star_ir2/quant/")

In [4]:
file_rand=pd.read_csv(path2/"PPMI-Phase2-IR2.92834.V04.0002325630.5104-SL-4052.longRNA-NEBKAP.salmon-gtf.genes.sf",delimiter='\t', header=None )

In [5]:
file_rand

                       0        1                2          3         4
0                   Name   Length  EffectiveLength        TPM  NumReads
1      ENSG00000198900.5      297               94    141.961       215
2      ENSG00000215515.2     3390          1953.77          0         0
3      ENSG00000215399.2     1273          792.992          0         0
4      ENSG00000196331.5     1238          1015.25  0.0266166  0.435378
...                  ...      ...              ...        ...       ...
34565  ENSG00000187210.8  894.435           911.71    30.6954    903.65
34566  ENSG00000263426.1     1600              351          0         0
34567  ENSG00000264729.1      611              303          0         0
34568  ENSG00000263919.1      260               75          0         0
34569  ENSG00000173894.6     2664          3413.86    6.79566   373.782

[34570 rows x 5 columns]

In [6]:
file_rand2=file_rand.rename(columns=file_rand.iloc[0]).drop(file_rand.index[0]).reset_index(drop=True)

In [7]:
file_rand2

                    Name   Length EffectiveLength        TPM  NumReads
0      ENSG00000198900.5      297              94    141.961       215
1      ENSG00000215515.2     3390         1953.77          0         0
2      ENSG00000215399.2     1273         792.992          0         0
3      ENSG00000196331.5     1238         1015.25  0.0266166  0.435378
4      ENSG00000206044.3     1769             351          0         0
...                  ...      ...             ...        ...       ...
34564  ENSG00000187210.8  894.435          911.71    30.6954    903.65
34565  ENSG00000263426.1     1600             351          0         0
34566  ENSG00000264729.1      611             303          0         0
34567  ENSG00000263919.1      260              75          0         0
34568  ENSG00000173894.6     2664         3413.86    6.79566   373.782

[34569 rows x 5 columns]

In [ ]:
all_rows=len(file_rand2.index)

In [ ]:
single_df=file_rand2[['Name']]

In [ ]:
single_df

In [ ]:
single_df.iloc[0][0]

In [ ]:
def function_names(fname):
    tokens=fname.split('.')
    return tokens[0]

In [ ]:
for i in range(all_rows):
    single_df.loc[i,['Name']]=function_names(single_df.loc[i][0])

In [ ]:
single_dff=single_df

In [ ]:
single_dff

In [ ]:
df_mine = single_dff.rename(columns={'Name': 'Ensembl gene ID'})

In [ ]:
df_mine

In [ ]:
dataframe.loc[row index,['column-names']] = value

In [ ]:
function_names(file_rand2.loc[0][0])

In [ ]:
result_=pd.read_csv('results.txt', on_bad_lines='skip',delimiter='\t', header=None )

In [ ]:
result_3=result_.rename(columns=result_.iloc[0]).drop(result_.index[0]).reset_index(drop=True)

In [ ]:
result_3

In [ ]:
annotation_matrix=pd.merge(df_mine, result_3, on='Ensembl gene ID', how='left')

In [ ]:
annotation_matrix

In [ ]:
annotation_matrix.to_csv("annotation_matrix.txt")