**In this part we take the matrix we created for BL count IR2 and make a matrix with new PIDs**

In [1]:
import pandas as pd
import numpy as np
from pathlib import Path
import functools

Here we upload the the big diagnosis that we have created previously.

In [2]:
final2=pd.read_csv("final.csv", header=None,index_col=[0])

we make it readable order that we need to have with making the columns in appropriate way.

In [3]:
final1=final2.rename(columns=final2.iloc[0]).drop(final2.index[0]).reset_index(drop=True)
final1

,PATNO,AGE_AT_VISIT,AFICBERB,ASHKJEW,BASQUE,BIRTHDT,SEX,CHLDBEAR,HANDED,HISPLAT,RAASIAN,RABLACK,RAHAWOPI,RAINDALS,RANOS,RAWHITE,COHORT_DEFINITION
0,3000,69.1,0,0,0,12/1941,0,0,1,0,0,0,0,0,0,1,Healthy Control
1,3001,65.1,0,0,0,01/1946,1,NaN,2,0,0,0,0,0,0,1,Parkinson's Disease
2,3002,67.6,0,0,0,08/1943,0,0,1,0,0,0,0,0,0,1,Parkinson's Disease
3,3003,56.7,0,0,0,07/1954,0,0,1,0,0,0,0,0,0,1,Parkinson's Disease
4,3004,59.4,0,0,0,11/1951,1,NaN,1,0,0,0,0,0,0,1,Healthy Control
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1207,160252,80.3,0,0,0,05/1942,1,NaN,1,0,0,0,0,0,0,1,Parkinson's Disease
1208,161236,55.6,0,0,0,01/1967,1,NaN,1,0,0,0,0,0,0,1,Parkinson's Disease
1209,162140,68.8,0,0,0,10/1953,1,NaN,1,0,0,0,0,0,0,1,Prodromal
1210,162905,45.2,0,0,0,06/1977,1,NaN,1,0,0,1,0,0,0,0,Healthy Control
1211,162929,84.6,0,0,0,01/1938,1,NaN,1,0,0,0,0,0,0,1,Parkinson's Disease

In [4]:
path_data=Path("/scratch/znazari/new_jobs_counts_ir2/final_data_count/")

We read off the raw matrix that we have created previously, they usually contain more patient that we have their diagnosis.

In [5]:
bl_matrix=pd.read_csv(path_data/"bl_matrix_counts_ir2.txt", header=None, low_memory=False)

We resolve some problem that we have encoutered for reading the file

In [6]:
bl_matrix2=bl_matrix.rename(columns=bl_matrix.iloc[0]).drop(bl_matrix.index[0]).reset_index(drop=True)

In [7]:
bl_matrix2['Geneid']

0        ENSG00000223972.4
1        ENSG00000227232.4
2        ENSG00000243485.2
3        ENSG00000237613.2
4        ENSG00000268020.2
               ...
57815    ENSG00000198695.2
57816    ENSG00000210194.1
57817    ENSG00000198727.2
57818    ENSG00000210195.2
57819    ENSG00000210196.2
Name: Geneid, Length: 57820, dtype: object

Then we read the list of pateint that we have which is big and their diagnosis is not necessary available in the diagnosis matrix.

In [8]:
path1=Path("/scratch/znazari/PPMI_ver_sep2022/RNA_Seq_data/star_ir2/counts/")

In [9]:
bl_files=pd.read_csv(path1/"bl.txt", header=None )

In [10]:
def function_names(fname):
    tokens=fname.split('.')
    return tokens[1]

Below we will have the list of the patient IDs that are still larger than what is supposed to be.

In [11]:
bl_list=[]
for i in range(len(bl_files)):
    bl_list=bl_list+[function_names(bl_files.iloc[i][0])]

Below we ar going to have all the patients that we have their IDs and diagnosis.

In [12]:
patient_diagonises=final1[['PATNO','COHORT_DEFINITION']]
patient_diagonises

       PATNO    COHORT_DEFINITION
0       3000      Healthy Control
1       3001  Parkinson's Disease
2       3002  Parkinson's Disease
3       3003  Parkinson's Disease
4       3004      Healthy Control
...      ...                  ...
1207  160252  Parkinson's Disease
1208  161236  Parkinson's Disease
1209  162140            Prodromal
1210  162905      Healthy Control
1211  162929  Parkinson's Disease

[1212 rows x 2 columns]

In [13]:
big_patients=list(patient_diagonises['PATNO'])
len(big_patients)

1212

Below we are going to check how many of those patients that we initially get from the files of the RNA-seq are actually have their diagnosis in the big list of patients with their diagnosis.

In [14]:
contains=[]
not_contains=[]
for i in bl_list:
    if i in big_patients:
        contains+=[i]
    else:
        not_contains+=[i]

Below we neet to get all the patient IDs which are represented as "string" to be presented as type integer, as it was for the list that we had in the orginal RNA-seq matrices.

In [15]:
r_contains=[int(x) for x in contains]

Below we just extract the list of patients that are in the big original diagnosis matrix.

In [16]:
bl_matrix3=bl_matrix2[r_contains]

Below we need to replace the geneID column that were missing previously.

In [17]:
bl_matrix3.insert(loc=0, column ='Geneid',value = bl_matrix2['Geneid'])

Finally we write the result into a txt file.

In [18]:
path_data=Path("/scratch/znazari/new_jobs_counts_ir2/final_data_count/")

In [19]:
bl_matrix3.to_csv(path_data/"ordered_bl_matrix_ir2_count.txt")

In [20]:
ml_path=Path("/home/znazari/machine_learning_ppmi")
bl_matrix3.to_csv(ml_path/"ordered_bl_matrix_ir2_count.txt")

There we go:

In [21]:
bl_matrix3

,Geneid,10874,12499,12593,13039,13424,14281,14331,14426,15761,...,4136,41381,4139,60002,60015,60024,60036,60095,60171,85242
0,ENSG00000223972.4,10,10,12,7,10,5,7,4,4,...,23,7,4,9,9,8,11,2,1,6
1,ENSG00000227232.4,192,418,276,252,292,235,162,209,128,...,273,260,216,158,205,210,512,211,134,432
2,ENSG00000243485.2,0,0,2,0,0,0,0,0,0,...,0,0,1,2,0,0,1,1,0,0
3,ENSG00000237613.2,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,ENSG00000268020.2,1,0,0,0,0,1,0,0,1,...,4,1,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
57815,ENSG00000198695.2,346,142,169,158,138,241,65,83,493,...,236,205,102,136,69,86,132,59,142,92
57816,ENSG00000210194.1,48,17,28,24,24,54,3,7,85,...,33,29,9,25,10,16,13,12,13,4
57817,ENSG00000198727.2,766,1506,405,379,1316,581,501,328,517,...,1026,583,339,461,498,1049,1260,494,402,2501
57818,ENSG00000210195.2,62,54,16,67,130,60,63,72,62,...,64,11,45,25,48,56,73,34,54,26
57819,ENSG00000210196.2,169,133,65,221,275,95,178,174,198,...,144,31,114,87,89,204,212,68,103,62