**In this part we take the matrix and we want to have the patient IDs and corresponding Diagnosis**

-The patient ID needs to be as the same order as the BL matrix that we created previously.

In [1]:
import pandas as pd
import numpy as np
from pathlib import Path
import functools

Since we already have the big diagnosis of the patients that we have created ans save we just upload here:

In [2]:
final2=pd.read_csv("final.csv", header=None,index_col=[0])
final=final2.rename(columns=final2.iloc[0]).drop(final2.index[0]).reset_index(drop=True)
final

,PATNO,AGE_AT_VISIT,AFICBERB,ASHKJEW,BASQUE,BIRTHDT,SEX,CHLDBEAR,HANDED,HISPLAT,RAASIAN,RABLACK,RAHAWOPI,RAINDALS,RANOS,RAWHITE,COHORT_DEFINITION
0,3000,69.1,0,0,0,12/1941,0,0,1,0,0,0,0,0,0,1,Healthy Control
1,3001,65.1,0,0,0,01/1946,1,NaN,2,0,0,0,0,0,0,1,Parkinson's Disease
2,3002,67.6,0,0,0,08/1943,0,0,1,0,0,0,0,0,0,1,Parkinson's Disease
3,3003,56.7,0,0,0,07/1954,0,0,1,0,0,0,0,0,0,1,Parkinson's Disease
4,3004,59.4,0,0,0,11/1951,1,NaN,1,0,0,0,0,0,0,1,Healthy Control
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1926,160252,80.3,0,0,0,05/1942,1,NaN,1,0,0,0,0,0,0,1,Parkinson's Disease
1927,161236,55.6,0,0,0,01/1967,1,NaN,1,0,0,0,0,0,0,1,Parkinson's Disease
1928,162140,68.8,0,0,0,10/1953,1,NaN,1,0,0,0,0,0,0,1,Prodromal
1929,162905,45.2,0,0,0,06/1977,1,NaN,1,0,0,1,0,0,0,0,Healthy Control
1930,162929,84.6,0,0,0,01/1938,1,NaN,1,0,0,0,0,0,0,1,Parkinson's Disease

In [3]:
patient_diagonises=final[['PATNO','COHORT_DEFINITION']]
patient_diagonises

       PATNO    COHORT_DEFINITION
0       3000      Healthy Control
1       3001  Parkinson's Disease
2       3002  Parkinson's Disease
3       3003  Parkinson's Disease
4       3004      Healthy Control
...      ...                  ...
1926  160252  Parkinson's Disease
1927  161236  Parkinson's Disease
1928  162140            Prodromal
1929  162905      Healthy Control
1930  162929  Parkinson's Disease

[1931 rows x 2 columns]

In [4]:
path1=Path("/scratch/znazari/PPMI_ver_sep2022/RNA_Seq_data/star_ir2/quant/")

In [5]:
bl_files=pd.read_csv(path1/"bl.txt", header=None )

In [6]:
def function_names(fname):
    tokens=fname.split('.')
    return tokens[1]

In [7]:
bl_list=[]
for i in range(len(bl_files)):
    bl_list=bl_list+[function_names(bl_files.iloc[i][0])]

In [8]:
big_patients=list(patient_diagonises['PATNO'])
len(big_patients)

1931

In [9]:
contains=[]
not_contains=[]
for i in bl_list:
    if i in big_patients:
        contains+=[i]
    else:
        not_contains+=[i]

In [10]:
len(not_contains)

409

In [11]:
len(contains)

1128

In [12]:
# selecting rows based on condition 
filtered_PIs = patient_diagonises[patient_diagonises['PATNO'].isin(contains)] 
mfiltered_PI=filtered_PIs.reset_index(drop=True)
mfiltered_PI

      PATNO    COHORT_DEFINITION
0      3000      Healthy Control
1      3001  Parkinson's Disease
2      3002  Parkinson's Disease
3      3003  Parkinson's Disease
4      3004      Healthy Control
...     ...                  ...
1123  90456            Prodromal
1124  91097            Prodromal
1125  91837            Prodromal
1126  92490            Prodromal
1127  92834            Prodromal

[1128 rows x 2 columns]

In [13]:
bl_patients=pd.DataFrame(bl_list)

In [14]:
mfiltered_PI['BL_PATNO']=contains
mfiltered_PI.reset_index(drop=True)

      PATNO    COHORT_DEFINITION BL_PATNO
0      3000      Healthy Control    10874
1      3001  Parkinson's Disease    12499
2      3002  Parkinson's Disease    12593
3      3003  Parkinson's Disease    13039
4      3004      Healthy Control    13424
...     ...                  ...      ...
1123  90456            Prodromal    60095
1124  91097            Prodromal    60171
1125  91837            Prodromal    65002
1126  92490            Prodromal    65003
1127  92834            Prodromal    85242

[1128 rows x 3 columns]

In [15]:
patno=list(mfiltered_PI['PATNO'])
bl_patno=list(mfiltered_PI['BL_PATNO'])

In [16]:
result=[]
for i in bl_patno:
    result+=[patno.index(i)]

In [17]:
len(result)

1128

In [18]:
index_result=pd.DataFrame(result)

In [19]:
mfiltered_PI['Index']=index_result

In [20]:
mfiltered_PI

      PATNO    COHORT_DEFINITION BL_PATNO  Index
0      3000      Healthy Control    10874    648
1      3001  Parkinson's Disease    12499    650
2      3002  Parkinson's Disease    12593    651
3      3003  Parkinson's Disease    13039    652
4      3004      Healthy Control    13424    653
...     ...                  ...      ...    ...
1123  90456            Prodromal    60095   1108
1124  91097            Prodromal    60171   1115
1125  91837            Prodromal    65002   1117
1126  92490            Prodromal    65003   1118
1127  92834            Prodromal    85242   1122

[1128 rows x 4 columns]

In [21]:
new_data=mfiltered_PI.drop(columns=['PATNO','BL_PATNO'])

In [22]:
sorted_diag=new_data.sort_values(by=['Index']).reset_index(drop=True)
sorted_diag

        COHORT_DEFINITION  Index
0     Parkinson's Disease      0
1         Healthy Control      1
2     Parkinson's Disease      2
3     Parkinson's Disease      3
4     Parkinson's Disease      4
...                   ...    ...
1123            Prodromal   1123
1124  Parkinson's Disease   1124
1125            Prodromal   1125
1126            Prodromal   1126
1127  Parkinson's Disease   1127

[1128 rows x 2 columns]

In [23]:
sorted_diag['BL_PATNO']=contains

In [25]:
semi_final=sorted_diag.drop(['Index'], axis=1)
semi_final

        COHORT_DEFINITION BL_PATNO
0     Parkinson's Disease    10874
1         Healthy Control    12499
2     Parkinson's Disease    12593
3     Parkinson's Disease    13039
4     Parkinson's Disease    13424
...                   ...      ...
1123            Prodromal    60095
1124  Parkinson's Disease    60171
1125            Prodromal    65002
1126            Prodromal    65003
1127  Parkinson's Disease    85242

[1128 rows x 2 columns]

In [26]:
#here is to sweep the two columns 
columns_titles = ["BL_PATNO","COHORT_DEFINITION"]
the_final=semi_final.reindex(columns=columns_titles)

In [27]:
the_final.to_csv("the_diagnosis_quant_ir2.txt")
the_final

     BL_PATNO    COHORT_DEFINITION
0       10874  Parkinson's Disease
1       12499      Healthy Control
2       12593  Parkinson's Disease
3       13039  Parkinson's Disease
4       13424  Parkinson's Disease
...       ...                  ...
1123    60095            Prodromal
1124    60171  Parkinson's Disease
1125    65002            Prodromal
1126    65003            Prodromal
1127    85242  Parkinson's Disease

[1128 rows x 2 columns]

In [28]:
#to check whether the two BL patient IDs and the contains!! are matching.
print(the_final['BL_PATNO'][110])
contains[110]

3229

'3229'