In [89]:
import pandas as pd
import numpy as np
from pathlib import Path
import functools

Here is the folder with all the subject characteristics that we might possibly need to have

In [90]:
path1=Path("/scratch/znazari/PPMI_ver_sep2022/study_data/Subject_Characteristics/")

The problem with this file is that its subject row is not in the proper place.

In [91]:
age_at_visit=pd.read_csv(path1/"Age_at_visit.csv", header=None )
age_at_visit2=age_at_visit.rename(columns=age_at_visit.iloc[0]).drop(age_at_visit.index[0]).reset_index(drop=True)

In [93]:
age=pd.read_csv(path1/"Demographics.csv", header=None )
age2=age.rename(columns=age.iloc[0]).drop(age.index[0]).reset_index(drop=True)

In [94]:
diago=pd.read_csv(path1/"Participant_Status.csv", header=None )
diago1=diago.rename(columns=diago.iloc[0]).drop(diago.index[0]).reset_index(drop=True)

In [95]:
diago2=diago1[['PATNO','COHORT_DEFINITION']]

In [96]:
new_patient=list(diago2['PATNO'])

In [97]:
age_at_visit3=age_at_visit2.loc[age_at_visit2['EVENT_ID'].isin(['BL'])]
age_at_visit3

        PATNO EVENT_ID AGE_AT_VISIT
0        3000       BL         69.1
18       3001       BL         65.1
37       3002       BL         67.6
55       3003       BL         56.7
74       3004       BL         59.4
...       ...      ...          ...
19524  160252       BL         80.3
19530  161236       BL         55.6
19533  162140       BL         68.8
19539  162905       BL         45.2
19541  162929       BL         84.6

[1931 rows x 3 columns]

In [98]:
del age_at_visit3["EVENT_ID"]

In [99]:
df_new_age= age2[[
 'PATNO',
 'AFICBERB',
 'ASHKJEW',
 'BASQUE',
 'BIRTHDT',
 'SEX',
 'CHLDBEAR',
 'HANDED',
 'HISPLAT',
 'RAASIAN',
 'RABLACK',
 'RAHAWOPI',
 'RAINDALS',
 'RANOS',
 'RAWHITE']]

In [100]:
df_new_age

,PATNO,AFICBERB,ASHKJEW,BASQUE,BIRTHDT,SEX,CHLDBEAR,HANDED,HISPLAT,RAASIAN,RABLACK,RAHAWOPI,RAINDALS,RANOS,RAWHITE
0,3000,0,0,0,12/1941,0,0,1,0,0,0,0,0,0,1
1,3001,0,0,0,01/1946,1,NaN,2,0,0,0,0,0,0,1
2,3002,0,0,0,08/1943,0,0,1,0,0,0,0,0,0,1
3,3003,0,0,0,07/1954,0,0,1,0,0,0,0,0,0,1
4,3004,0,0,0,11/1951,1,NaN,1,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2343,162994,0,0,0,01/1972,0,1,1,0,0,0,0,0,0,1
2344,163265,0,0,0,08/1954,0,1,1,0,0,0,0,0,0,1
2345,164900,0,0,0,01/1951,1,NaN,1,0,0,1,0,0,0,0
2346,167222,0,1,0,07/1966,1,NaN,1,0,0,0,0,0,0,1
2347,168306,0,0,0,05/1953,1,NaN,1,0,0,0,0,0,0,1

In [101]:
my_data_frame=pd.merge(age_at_visit3, df_new_age, on='PATNO', how='left')

In [102]:
#this is the **final matrix** that we needed to creare in the beginning of this part.
final=pd.merge(my_data_frame, diago2, on='PATNO', how='left')

In [103]:
final.to_csv("the_matrix.txt")

In [104]:
patient_diagonises=final[['PATNO','COHORT_DEFINITION']]
patient_diagonises

       PATNO    COHORT_DEFINITION
0       3000      Healthy Control
1       3001  Parkinson's Disease
2       3002  Parkinson's Disease
3       3003  Parkinson's Disease
4       3004      Healthy Control
...      ...                  ...
1926  160252  Parkinson's Disease
1927  161236  Parkinson's Disease
1928  162140            Prodromal
1929  162905      Healthy Control
1930  162929  Parkinson's Disease

[1931 rows x 2 columns]

In [105]:
path1=Path("/scratch/znazari/PPMI_ver_sep2022/RNA_Seq_data/star_ir2/counts/")

In [106]:
bl_files=pd.read_csv(path1/"bl.txt", header=None )

In [108]:
def function_names(fname):
    tokens=fname.split('.')
    return tokens[1]

In [109]:
bl_list=[]
for i in range(len(bl_files)):
    bl_list=bl_list+[function_names(bl_files.iloc[i][0])]

In [110]:
big_patients=list(patient_diagonises['PATNO'])
len(big_patients)

1931

In [23]:
pud=pd.DataFrame(bl_list)

In [24]:
patient_diagonises['BL_PATNO']=pud.fillna(0)

/tmp/ipykernel_30760/2806254814.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  patient_diagonises['BL_PATNO']=pud.fillna(0)

In [25]:
patient_diagonises

       PATNO    COHORT_DEFINITION BL_PATNO
0       3000      Healthy Control    10874
1       3001  Parkinson's Disease    12499
2       3002  Parkinson's Disease    12593
3       3003  Parkinson's Disease    13039
4       3004      Healthy Control    13424
...      ...                  ...      ...
1926  160252  Parkinson's Disease      NaN
1927  161236  Parkinson's Disease      NaN
1928  162140            Prodromal      NaN
1929  162905      Healthy Control      NaN
1930  162929  Parkinson's Disease      NaN

[1931 rows x 3 columns]

In [26]:
len(pud)

1537

In [27]:
test_list2=list(patient_diagonises['PATNO'])

In [29]:
test_list1=list(patient_diagonises['BL_PATNO'])

In [30]:
reesult=[]
for i in test_list2:
    if i in test_list1:
        reesult+=[test_list1.index(i)]

In [112]:
len(reesult)
reesult;

In [32]:
index_result=pd.DataFrame(reesult)

In [33]:
patient_diagonises['index']=index_result

/tmp/ipykernel_30760/3374289084.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  patient_diagonises['index']=index_result

In [34]:
patient_diagonises

       PATNO    COHORT_DEFINITION BL_PATNO  index
0       3000      Healthy Control    10874   13.0
1       3001  Parkinson's Disease    12499   14.0
2       3002  Parkinson's Disease    12593   15.0
3       3003  Parkinson's Disease    13039   16.0
4       3004      Healthy Control    13424   17.0
...      ...                  ...      ...    ...
1926  160252  Parkinson's Disease      NaN    NaN
1927  161236  Parkinson's Disease      NaN    NaN
1928  162140            Prodromal      NaN    NaN
1929  162905      Healthy Control      NaN    NaN
1930  162929  Parkinson's Disease      NaN    NaN

[1931 rows x 4 columns]

In [35]:
new_data=patient_diagonises.drop(columns=['PATNO','BL_PATNO'])

In [36]:
new_data

        COHORT_DEFINITION  index
0         Healthy Control   13.0
1     Parkinson's Disease   14.0
2     Parkinson's Disease   15.0
3     Parkinson's Disease   16.0
4         Healthy Control   17.0
...                   ...    ...
1926  Parkinson's Disease    NaN
1927  Parkinson's Disease    NaN
1928            Prodromal    NaN
1929      Healthy Control    NaN
1930  Parkinson's Disease    NaN

[1931 rows x 2 columns]

In [37]:
very_frame=new_data.sort_values(by=['index'])

In [38]:
mano=very_frame.reset_index(drop=True)
mano

        COHORT_DEFINITION  index
0     Parkinson's Disease    0.0
1     Parkinson's Disease    1.0
2     Parkinson's Disease    2.0
3                   SWEDD    3.0
4         Healthy Control    4.0
...                   ...    ...
1926  Parkinson's Disease    NaN
1927  Parkinson's Disease    NaN
1928            Prodromal    NaN
1929      Healthy Control    NaN
1930  Parkinson's Disease    NaN

[1931 rows x 2 columns]

In [39]:
mano['BL_PATNO2']=pud
mano

        COHORT_DEFINITION  index BL_PATNO2
0     Parkinson's Disease    0.0     10874
1     Parkinson's Disease    1.0     12499
2     Parkinson's Disease    2.0     12593
3                   SWEDD    3.0     13039
4         Healthy Control    4.0     13424
...                   ...    ...       ...
1926  Parkinson's Disease    NaN       NaN
1927  Parkinson's Disease    NaN       NaN
1928            Prodromal    NaN       NaN
1929      Healthy Control    NaN       NaN
1930  Parkinson's Disease    NaN       NaN

[1931 rows x 3 columns]

In [40]:
tua=mano.drop(['index'], axis=1)

This piece of code is for swapping two columns in dataframe

In [41]:
columns_titles = ["BL_PATNO2","COHORT_DEFINITION"]
tua=tua.reindex(columns=columns_titles)
before_filter_patients=tua.dropna()
before_filter_patients

     BL_PATNO2    COHORT_DEFINITION
0        10874  Parkinson's Disease
1        12499  Parkinson's Disease
2        12593  Parkinson's Disease
3        13039                SWEDD
4        13424      Healthy Control
...        ...                  ...
1532     65003  Parkinson's Disease
1533     65005  Parkinson's Disease
1534     65008      Healthy Control
1535     70239            Prodromal
1536     85242  Parkinson's Disease

[1537 rows x 2 columns]

**df.dropna()** drops the rows which have not a number (NaN) in them.

How to understand if a dataframe is duplicated or not we can use the duplicated function and then we put that inside the dataframe again to see what is duplicated. If there are no result/output, then it means there is no duplications.

In [42]:
my_duplicated=final['PATNO'].duplicated()

In [43]:
final[my_duplicated]

Empty DataFrame
Columns: [PATNO, AGE_AT_VISIT, AFICBERB, ASHKJEW, BASQUE, BIRTHDT, SEX, CHLDBEAR, HANDED, HISPLAT, RAASIAN, RABLACK, RAHAWOPI, RAINDALS, RANOS, RAWHITE, COHORT_DEFINITION]
Index: []

Here Ivan asked to send him the transcriptomic data for IR2 and IR3 for counts and quant.

In [44]:
ipath1=Path("/scratch/znazari/PPMI_ver_sep2022/RNA_Seq_data/star_ir2/counts/")
bl_files=pd.read_csv(ipath1/"bl.txt", header=None )

In [45]:
def function_names(fname):
    tokens=fname.split('.')
    return tokens[1]

In [46]:
bl_list=[]
for i in range(len(bl_files)):
    bl_list=bl_list+[function_names(bl_files.iloc[i][0])]

In [47]:
contains1=[]
not_contains1=[]
for i in bl_list:
    if i in big_patients:
        contains1+=[i]
    else:
        not_contains1+=[i]

In [48]:
print(len(contains1))
len(not_contains1)

1128

409

In [49]:
contains1;

In [50]:
ir2_count=pd.DataFrame(bl_list)

In [51]:
ir2_count.to_csv("ir2_counts_PIDs.txt",  index=False)

In [52]:
ipath2=Path("/scratch/znazari/PPMI_ver_sep2022/RNA_Seq_data/star_ir2/quant/")
quant2_files=pd.read_csv(ipath2/"bl.txt", header=None )

In [53]:
bl_list2=[]
for i in range(len(quant2_files)):
    bl_list2=bl_list2+[function_names(quant2_files.iloc[i][0])]

In [87]:
contains2=[]
not_contains2=[]
for i in bl_list2:
    if i in big_patients:
        contains2+=[i]
    else:
        not_contains2+=[i]

In [55]:
quantir2=pd.DataFrame(bl_list2)

In [56]:
quantir2.to_csv("ir2_quant_PIDs.txt",  index=False)

In [57]:
ipath3=Path("/scratch/znazari/PPMI_ver_sep2022/RNA_Seq_data/star_ir3/counts/")
bl3_files=pd.read_csv(ipath3/"bl.txt", header=None )

In [58]:
bl3_list=[]
for i in range(len(bl3_files)):
    bl3_list=bl3_list+[function_names(bl3_files.iloc[i][0])]

In [88]:
contains3=[]
not_contains3=[]
for i in bl3_list:
    if i in big_patients:
        contains3+=[i]
    else:
        not_contains3+=[i]

In [60]:
len(not_contains3)

0

In [61]:
ir3_count=pd.DataFrame(bl3_list)

In [62]:
ir3_count.to_csv("ir3_counts_PIDs.txt",  index=False)

In [63]:
ipath4=Path("/scratch/znazari/PPMI_ver_sep2022/RNA_Seq_data/my_star_ir3/quant/")
bl4_files=pd.read_csv(ipath4/"bl.txt", header=None )

In [64]:
bl4_list=[]
for i in range(len(bl4_files)):
    bl4_list=bl4_list+[function_names(bl4_files.iloc[i][0])]

In [65]:
contains4=[]
not_contains4=[]
for i in bl4_list:
    if i in very_big_PIDs:
        contains4+=[i]
    else:
        not_contains4+=[i]

NameError: name 'very_big_PIDs' is not defined

In [66]:
len(not_contains4)

0

In [67]:
ir3_quant=pd.DataFrame(bl4_list)

In [68]:
ir3_quant.to_csv("ir3_quant_PIDs.txt",  index=False)

Here we want to get the patient ID's from the file of PD_Diagnosis_History.csv from the folder: Medical_History

In [69]:
path_medical=Path("/scratch/znazari/PPMI_ver_sep2022/study_data/Medical_History")

In [70]:
files_medical=pd.read_csv(path_medical/"PD_Diagnosis_History.csv", header=None )

In [71]:
files_medical_m=files_medical.rename(columns=files_medical.iloc[0]).drop(files_medical.index[0]).reset_index(drop=True)

In [72]:
medical_patients=list(files_medical_m['PATNO'])

In [73]:
contains_1=[]
not_contains_1=[]
for i in bl_list:
    if i in  medical_patients:
        contains_1+=[i]
    else:
        not_contains_1+=[i]

In [74]:
len(contains_1)

646

In [75]:
contains_2=[]
not_contains_2=[]
for i in medical_patients:
    if i in  bl_list:
        contains_2+=[i]
    else:
        not_contains_2+=[i]

In [76]:
len(not_contains_2)

575

Here I need to find the matrix where there is patient IDs that are included in bl of IR2 counts and also they are in the big diagnosis matrix, with a good order. At this point we ignore the medical history file as it is even less than what we need actually.

In [77]:
contains1;#this is the patient ID that I'll be using for the extracted matrix with genes included.
len(contains1)
contains1;

In [86]:
patient_diagonises #this is the Diagnosis DataFrame with  big patient IDs

       PATNO    COHORT_DEFINITION
0       3000      Healthy Control
1       3001  Parkinson's Disease
2       3002  Parkinson's Disease
3       3003  Parkinson's Disease
4       3004      Healthy Control
...      ...                  ...
1926  160252  Parkinson's Disease
1927  161236  Parkinson's Disease
1928  162140            Prodromal
1929  162905      Healthy Control
1930  162929  Parkinson's Disease

[1931 rows x 2 columns]

In [79]:
patient_diagonises=final[['PATNO','COHORT_DEFINITION']]
patient_diagonises

       PATNO    COHORT_DEFINITION
0       3000      Healthy Control
1       3001  Parkinson's Disease
2       3002  Parkinson's Disease
3       3003  Parkinson's Disease
4       3004      Healthy Control
...      ...                  ...
1926  160252  Parkinson's Disease
1927  161236  Parkinson's Disease
1928  162140            Prodromal
1929  162905      Healthy Control
1930  162929  Parkinson's Disease

[1931 rows x 2 columns]

In [80]:
relevant_patient_IDs = contains1 
    
# selecting rows based on condition 
filtered_PIs = patient_diagonises[patient_diagonises['PATNO'].isin(relevant_patient_IDs)]

In [81]:
before_filter_patients

     BL_PATNO2    COHORT_DEFINITION
0        10874  Parkinson's Disease
1        12499  Parkinson's Disease
2        12593  Parkinson's Disease
3        13039                SWEDD
4        13424      Healthy Control
...        ...                  ...
1532     65003  Parkinson's Disease
1533     65005  Parkinson's Disease
1534     65008      Healthy Control
1535     70239            Prodromal
1536     85242  Parkinson's Disease

[1537 rows x 2 columns]

In [82]:
relevant_patient_IDs = contains1 
    
# selecting rows based on condition 
after_filtered_PIs = before_filter_patients[before_filter_patients['BL_PATNO2'].isin(relevant_patient_IDs)] 
after_filtered_PIs.reset_index(drop=True)

     BL_PATNO2    COHORT_DEFINITION
0        10874  Parkinson's Disease
1        12499  Parkinson's Disease
2        12593  Parkinson's Disease
3        13039                SWEDD
4        13424      Healthy Control
...        ...                  ...
1123     60095  Parkinson's Disease
1124     60171  Parkinson's Disease
1125     65002  Parkinson's Disease
1126     65003  Parkinson's Disease
1127     85242  Parkinson's Disease

[1128 rows x 2 columns]

In [83]:
filtered_PIs['ordered_patients']=relevant_patient_IDs

/tmp/ipykernel_30760/3938239890.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_PIs['ordered_patients']=relevant_patient_IDs

In [84]:
filtered_PIs

      PATNO    COHORT_DEFINITION ordered_patients
0      3000      Healthy Control            10874
1      3001  Parkinson's Disease            12499
2      3002  Parkinson's Disease            12593
3      3003  Parkinson's Disease            13039
4      3004      Healthy Control            13424
...     ...                  ...              ...
1476  90456            Prodromal            60095
1477  91097            Prodromal            60171
1478  91837            Prodromal            65002
1479  92490            Prodromal            65003
1480  92834            Prodromal            85242

[1128 rows x 3 columns]

In [85]:
patient_diagonises[['PATNO','COHORT_DEFINITION']]

       PATNO    COHORT_DEFINITION
0       3000      Healthy Control
1       3001  Parkinson's Disease
2       3002  Parkinson's Disease
3       3003  Parkinson's Disease
4       3004      Healthy Control
...      ...                  ...
1926  160252  Parkinson's Disease
1927  161236  Parkinson's Disease
1928  162140            Prodromal
1929  162905      Healthy Control
1930  162929  Parkinson's Disease

[1931 rows x 2 columns]