In [ ]:
#we just do it once
#!pip3 install xgboost

In [2]:
from xgboost import XGBClassifier
import numpy as np
import pandas as pd
from pathlib import Path
import functools

In [3]:
# read data
from sklearn.datasets import load_iris
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

In [ ]:
data = load_iris()
X_train, X_test, y_train, y_test = train_test_split(data['data'], data['target'], test_size=.2)
# create model instance
bst = XGBClassifier(n_estimators=2, max_depth=2, learning_rate=1, objective='binary:logistic')
# fit model
bst.fit(X_train, y_train)
# make predictions

In [ ]:
preds = bst.predict(X_test)

In [ ]:
preds

In [ ]:
data['data'].shape

In [ ]:
data['data']

In [ ]:
 data['target']

In [ ]:
 data['target'].shape

In [4]:
#loading the data

path1=Path("/home/znazari/machine_learning_ppmi")

data_rna1=pd.read_csv(path1/"ordered_bl_matrix_ir2_count.txt", header=None,index_col=[0] )
data_rna=data_rna1.rename(columns=data_rna1.iloc[0]).drop(data_rna1.index[0]).reset_index(drop=True)

In [5]:
data_predict1=pd.read_csv(path1/"the_diagnosis_count_ir2.txt", header=None ,index_col=[0])
data_predict=data_predict1.rename(columns=data_predict1.iloc[0]).drop(data_predict1.index[0]).reset_index(drop=True)

In [6]:
data_predict

     BL_PATNO    COHORT_DEFINITION
0       10874  Parkinson's Disease
1       12499      Healthy Control
2       12593  Parkinson's Disease
3       13039  Parkinson's Disease
4       13424  Parkinson's Disease
...       ...                  ...
1123    60095            Prodromal
1124    60171  Parkinson's Disease
1125    65002            Prodromal
1126    65003            Prodromal
1127    85242  Parkinson's Disease

[1128 rows x 2 columns]

In [12]:
data_rna

,Geneid,10874,12499,12593,13039,13424,14281,14331,14426,15761,...,59614,60002,60015,60024,60036,60095,60171,65002,65003,85242
0,ENSG00000223972.4,10,10,12,7,10,5,7,4,4,...,3,9,9,8,11,2,1,5,6,6
1,ENSG00000227232.4,192,418,276,252,292,235,162,209,128,...,348,158,205,210,512,211,134,168,235,432
2,ENSG00000243485.2,0,0,2,0,0,0,0,0,0,...,0,2,0,0,1,1,0,0,0,0
3,ENSG00000237613.2,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,ENSG00000268020.2,1,0,0,0,0,1,0,0,1,...,2,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
57815,ENSG00000198695.2,346,142,169,158,138,241,65,83,493,...,258,136,69,86,132,59,142,50,93,92
57816,ENSG00000210194.1,48,17,28,24,24,54,3,7,85,...,46,25,10,16,13,12,13,5,16,4
57817,ENSG00000198727.2,766,1506,405,379,1316,581,501,328,517,...,966,461,498,1049,1260,494,402,147,872,2501
57818,ENSG00000210195.2,62,54,16,67,130,60,63,72,62,...,74,25,48,56,73,34,54,117,27,26
57819,ENSG00000210196.2,169,133,65,221,275,95,178,174,198,...,289,87,89,204,212,68,103,159,94,62

In [ ]:
data_rna[]

In [16]:
type(patient_new)

pandas.core.series.Series

In [ ]:
data_rna_=data_rna.drop(columns='Geneid')

In [11]:
data_rna_1=data_rna_.T
data_rna_1

NameError: name 'data_rna_' is not defined

In [ ]:
data_predict_=data_predict['COHORT_DEFINITION']
data_predict_

In [7]:
searchfor = ['Healthy Control', "Parkinson's Disease"]

In [9]:
g=data_predict[data_predict['COHORT_DEFINITION'].astype(str).str.contains('|'.join(searchfor))]

In [10]:
g

     BL_PATNO    COHORT_DEFINITION
0       10874  Parkinson's Disease
1       12499      Healthy Control
2       12593  Parkinson's Disease
3       13039  Parkinson's Disease
4       13424  Parkinson's Disease
...       ...                  ...
1114    58865  Parkinson's Disease
1116    59174  Parkinson's Disease
1119    60002  Parkinson's Disease
1124    60171  Parkinson's Disease
1127    85242  Parkinson's Disease

[773 rows x 2 columns]

In [13]:
patient_new=g['BL_PATNO']

In [17]:
r_new_patients=[int(x) for x in patient_new]

In [19]:
r_new_patients

[10874,
 12499,
 12593,
 13039,
 13424,
 14331,
 14426,
 16580,
 16785,
 17608,
 18567,
 3000,
 3001,
 3004,
 3008,
 3010,
 3011,
 3012,
 3013,
 3016,
 3020,
 3024,
 3026,
 3029,
 3050,
 3052,
 3053,
 3055,
 3058,
 3059,
 3062,
 3064,
 3068,
 3072,
 3073,
 3074,
 3075,
 3078,
 3082,
 3083,
 3089,
 3100,
 3104,
 3105,
 3106,
 3107,
 3108,
 3110,
 3118,
 3119,
 3123,
 3124,
 3125,
 3128,
 3130,
 3131,
 3132,
 3134,
 3150,
 3151,
 3156,
 3161,
 3162,
 3166,
 3168,
 3170,
 3174,
 3176,
 3179,
 3180,
 3181,
 3182,
 3183,
 3184,
 3185,
 3186,
 3188,
 3189,
 3190,
 3191,
 3200,
 3201,
 3203,
 3207,
 3211,
 3214,
 3216,
 3217,
 3218,
 3221,
 3225,
 3226,
 3227,
 3229,
 3230,
 3232,
 3233,
 3234,
 3237,
 3251,
 3252,
 3257,
 3262,
 3264,
 3268,
 3269,
 3272,
 3274,
 3276,
 3279,
 3280,
 3281,
 3284,
 3285,
 3300,
 3301,
 3305,
 3307,
 3308,
 3309,
 3310,
 3314,
 3316,
 3319,
 3320,
 3322,
 3323,
 3324,
 3326,
 3328,
 3332,
 3333,
 3350,
 3353,
 3355,
 3356,
 3357,
 3358,
 3362,
 3366,
 3367,
 3368,
 3372,
 3373,
 3374,
 3375,
 3376,
 3383,
 3385,
 3386,
 3387,
 3389,
 3392,
 3401,
 3402,
 3407,
 3408,
 3409,
 3410,
 3411,
 3413,
 3421,
 3424,
 3425,
 3426,
 3428,
 3430,
 3432,
 3433,
 3434,
 3440,
 3441,
 3442,
 3444,
 3445,
 3446,
 3447,
 3448,
 3450,
 3452,
 3453,
 3454,
 3455,
 3459,
 3460,
 3461,
 3462,
 3465,
 3467,
 3468,
 3472,
 3473,
 3476,
 3478,
 3479,
 3480,
 3501,
 3502,
 3503,
 3505,
 3510,
 3512,
 3517,
 3520,
 3521,
 3522,
 3525,
 3527,
 3528,
 3532,
 3536,
 3537,
 3538,
 3539,
 3544,
 3550,
 3558,
 3563,
 3564,
 3569,
 3570,
 3572,
 3573,
 3575,
 3582,
 3587,
 3601,
 3603,
 3605,
 3606,
 3607,
 3608,
 3609,
 3612,
 3614,
 3619,
 3620,
 3625,
 3628,
 3631,
 3635,
 3637,
 3638,
 3650,
 3651,
 3653,
 3654,
 3656,
 3658,
 3660,
 3661,
 3664,
 3665,
 3668,
 3701,
 3702,
 3707,
 3710,
 3711,
 3750,
 3751,
 3752,
 3753,
 3754,
 3755,
 3758,
 3760,
 3762,
 3763,
 3764,
 3765,
 3766,
 3767,
 3768,
 3770,
 3771,
 3772,
 3773,
 3775,
 3780,
 3781,
 3783,
 3784,
 3785,
 3788,
 3789,
 3792,
 3793,
 3794,
 3795,
 3796,
 3800,
 3803,
 3804,
 3805,
 3806,
 3807,
 3809,
 3810,
 3811,
 3812,
 3814,
 3817,
 3818,
 3819,
 3821,
 3823,
 3825,
 3827,
 3828,
 3830,
 3831,
 3832,
 3834,
 3835,
 3836,
 3850,
 3851,
 3852,
 3853,
 3854,
 3855,
 3856,
 3858,
 3859,
 3860,
 3862,
 3863,
 3865,
 3866,
 3868,
 3870,
 3871,
 3901,
 3905,
 3911,
 3914,
 3916,
 3917,
 3950,
 3951,
 3956,
 3957,
 3958,
 3960,
 3964,
 3967,
 3972,
 4004,
 4010,
 4011,
 4018,
 4020,
 4026,
 4027,
 4030,
 4032,
 4033,
 4034,
 40360,
 40366,
 4036,
 4038,
 40520,
 4053,
 4054,
 40553,
 4055,
 40560,
 4056,
 40578,
 40585,
 40586,
 4058,
 40590,
 40591,
 40593,
 40594,
 40595,
 40596,
 40599,
 4059,
 40603,
 40606,
 40607,
 40609,
 40610,
 40613,
 40614,
 40618,
 40621,
 4064,
 4066,
 40671,
 4067,
 4070,
 4073,
 4077,
 4078,
 40800,
 4080,
 4082,
 4085,
 4086,
 40882,
 4092,
 4093,
 4094,
 4096,
 4098,
 4099,
 4100,
 4101,
 4103,
 4104,
 4105,
 4106,
 4107,
 4109,
 4110,
 4111,
 4112,
 4113,
 4114,
 4116,
 4117,
 4118,
 4120,
 4121,
 4122,
 4124,
 4126,
 41280,
 41281,
 41282,
 41283,
 41285,
 41286,
 41287,
 41288,
 41289,
 41292,
 41293,
 41294,
 41295,
 41296,
 41305,
 41307,
 41356,
 4135,
 41382,
 41384,
 41399,
 41400,
 41410,
 41412,
 41420,
 41486,
 41508,
 41521,
 41522,
 41562,
 41578,
 41749,
 41767,
 41967,
 41992,
 41993,
 42001,
 42134,
 42172,
 42240,
 42306,
 42351,
 42429,
 42438,
 42443,
 42444,
 42450,
 42451,
 42454,
 42455,
 50044,
 50088,
 50110,
 50143,
 50172,
 50175,
 50184,
 50192,
 50195,
 50219,
 50222,
 50275,
 50319,
 50379,
 50485,
 50557,
 50572,
 50621,
 50670,
 50746,
 50860,
 50901,
 50961,
 51186,
 51392,
 51441,
 51518,
 51625,
 51755,
 51782,
 51867,
 51971,
 52128,
 52200,
 52276,
 52530,
 52787,
 52828,
 52872,
 52948,
 53113,
 53308,
 53595,
 53866,
 54048,
 54110,
 54156,
 54364,
 55151,
 55251,
 55395,
 55822,
 55842,
 56761,
 57447,
 57887,
 60003,
 60004,
 60006,
 60013,
 60023,
 60033,
 60035,
 60043,
 60044,
 60045,
 60057,
 60059,
 60065,
 60074,
 60075,
 60091,
 60096,
 60101,
 60108,
 60118,
 60122,
 65000,
 65004,
 65006,
 85236,
 90456,
 91097,
 91837,
 92490,
 92834,
 18026,
 18502,
 3006,
 3009,
 3018,
 3021,
 3025,
 3028,
 3051,
 3054,
 3061,
 3067,
 3071,
 3077,
 3080,
 3085,
 3102,
 3109,
 3111,
 3115,
 3116,
 3129,
 3154,
 3157,
 3172,
 3219,
 3224,
 3235,
 3253,
 3260,
 3270,
 3271,
 3311,
 3321,
 3330,
 3351,
 3352,
 3361,
 3364,
 3365,
 3377,
 3380,
 3381,
 3384,
 3390,
 3400,
 3403,
 3404,
 3406,
 3414,
 3417,
 3418,
 3419,
 3422,
 3423,
 3429,
 3451,
 3456,
 3457,
 3466,
 3470,
 3471,
 3475,
 3481,
 3482,
 3506,
 3507,
 3514,
 3518,
 3523,
 3540,
 3541,
 3542,
 3543,
 3557,
 3571,
 3585,
 3588,
 3593,
 3611,
 3613,
 3617,
 3630,
 3632,
 3634,
 3705,
 3757,
 3861,
 3908,
 3959,
 3961,
 3962,
 3970,
 4006,
 4022,
 4025,
 40273,
 4031,
 40558,
 40567,
 40568,
 40574,
 40616,
 40693,
 40702,
 40707,
 40714,
 40725,
 40726,
 4072,
 40730,
 40731,
 40735,
 40750,
 40754,
 40755,
 40757,
 40759,
 40760,
 40761,
 40763,
 40769,
 4076,
 40771,
 40772,
 40773,
 40776,
 40777,
 40778,
 40779,
 40784,
 40806,
 4084,
 4091,
 4108,
 4123,
 4125,
 41314,
 4136,
 41375,
 4139,
 41401,
 41430,
 41473,
 41513,
 41526,
 41568,
 41664,
 42006,
 42011,
 42014,
 42079,
 42128,
 42133,
 42146,
 42168,
 42263,
 42264,
 42346,
 42415,
 42447,
 42457,
 50028,
 50081,
 50157,
 50983,
 51440,
 51540,
 51544,
 51551,
 51557,
 51675,
 51731,
 51800,
 51914,
 52006,
 52414,
 52517,
 52518,
 52523,
 52524,
 52604,
 52678,
 52854,
 52871,
 52932,
 53033,
 53044,
 53054,
 53060,
 53310,
 53600,
 57961,
 57965,
 58027,
 58099,
 58138,
 58182,
 58224,
 58420,
 58865,
 59174,
 60002,
 60171,
 85242]

In [14]:
patient_new

0       10874
1       12499
2       12593
3       13039
4       13424
        ...
1114    58865
1116    59174
1119    60002
1124    60171
1127    85242
Name: BL_PATNO, Length: 773, dtype: object

In [20]:
selected_data_rna=data_rna[r_new_patients]

In [24]:
select_data_rna=selected_data_rna.T

In [ ]:
data_predict['COHORT_DEFINITION'].replace(['Healthy Control', 'Prodromal','SWEDD',"Parkinson's Disease"],
                        [0, 1,2,3], inplace=True)

In [22]:
g['COHORT_DEFINITION'].replace(['Healthy Control', "Parkinson's Disease"],
                        [0, 1], inplace=True)

/tmp/ipykernel_7754/617596842.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  g['COHORT_DEFINITION'].replace(['Healthy Control', "Parkinson's Disease"],

In [23]:
g

     BL_PATNO  COHORT_DEFINITION
0       10874                  1
1       12499                  0
2       12593                  1
3       13039                  1
4       13424                  1
...       ...                ...
1114    58865                  1
1116    59174                  1
1119    60002                  1
1124    60171                  1
1127    85242                  1

[773 rows x 2 columns]

In [ ]:
data1_pred=data_predict['COHORT_DEFINITION']
data1_pred

In [ ]:
X_train1, X_test1, y_train1, y_test1 = train_test_split(data_rna_1,data1_pred, test_size=.3)

In [25]:
X_train2, X_test2, y_train2, y_test2 = train_test_split(select_data_rna,g['COHORT_DEFINITION'], test_size=.3)

In [ ]:
bst1 = XGBClassifier(n_estimators=2, max_depth=2, learning_rate=1, objective='reg:logistic')

In [26]:
bst3_hpa = XGBClassifier(n_estimators=2, max_depth=2, learning_rate=1, objective='binary:logistic')

In [ ]:
bst2 = XGBClassifier()

In [ ]:
bst1.fit(X_train1, y_train1)

In [ ]:
bst2.fit(X_train1, y_train1)

In [27]:
bst3_hpa.fit(X_train2, y_train2)

XGBClassifier(base_score=None, booster=None, callbacks=None,
              colsample_bylevel=None, colsample_bynode=None,
              colsample_bytree=None, early_stopping_rounds=None,
              enable_categorical=False, eval_metric=None, feature_types=None,
              gamma=None, gpu_id=None, grow_policy=None, importance_type=None,
              interaction_constraints=None, learning_rate=1, max_bin=None,
              max_cat_threshold=None, max_cat_to_onehot=None,
              max_delta_step=None, max_depth=2, max_leaves=None,
              min_child_weight=None, missing=nan, monotone_constraints=None,
              n_estimators=2, n_jobs=None, num_parallel_tree=None,
              predictor=None, random_state=None, ...)

In [ ]:
preds1 = bst1.predict(X_test1)

In [ ]:
preds2 = bst2.predic(X_test1)

In [29]:
preds3 = bst3_hpa.predict(X_test2)

In [ ]:
preds1

In [ ]:
X_test1

In [ ]:
#predictions = [round(value) for value in y_pred]
# evaluate predictions
accuracy = accuracy_score(y_test1, preds1)
print("Accuracy: %.2f%%" % (accuracy * 100.0))

In [30]:
#predictions = [round(value) for value in y_pred]
# evaluate predictions
accuracy = accuracy_score(y_test2, preds3)
print("Accuracy: %.2f%%" % (accuracy * 100.0))

Accuracy: 67.24%

In [ ]:
#smaller portion to take