In [1]:
#we just do it once
#!pip3 install xgboost

In [2]:
from xgboost import XGBClassifier
import numpy as np
import pandas as pd
from pathlib import Path
import functools

In [3]:
# sklearn
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

In [4]:
#loading the data quant

path1=Path("/home/znazari/machine_learning_ppmi")

quant_rna1=pd.read_csv(path1/"ordered_bl_matrix_ir2_quant.txt", header=None,index_col=[0] )
quant_rna=quant_rna1.rename(columns=quant_rna1.iloc[0]).drop(quant_rna1.index[0]).reset_index(drop=True)

In [5]:
#quant diagnosis prediction

quant_predict1=pd.read_csv(path1/"the_diagnosis_quant_ir2.txt", header=None ,index_col=[0])
quant_predict=quant_predict1.rename(columns=quant_predict1.iloc[0]).drop(quant_predict1.index[0]).reset_index(drop=True)

In [6]:
quant_rna

,Geneid,10874.0,12499.0,12593.0,13039.0,13424.0,14281.0,14331.0,14426.0,15761.0,...,59614.0,60002.0,60015.0,60024.0,60036.0,60095.0,60171.0,65002.0,65003.0,85242.0
0,ENSG00000198900.5,23.258400,178.70200,73.476600,74.772600,320.9730,157.778000,99.17530,72.269400,152.214000,...,100.0190,96.158800,140.531000,146.892000,246.6340,92.231800,143.29400,30.64580,158.015000,1088.170000
1,ENSG00000215515.2,0.000000,0.00000,0.000000,0.000000,0.0000,0.000000,0.00000,0.000000,0.000000,...,0.0000,0.000000,0.000000,0.000000,0.0000,0.000000,0.00000,0.00000,0.000000,0.000000
2,ENSG00000215399.2,0.000000,0.00000,0.000000,0.000000,0.0000,0.000000,0.00000,0.000000,0.000000,...,0.0000,0.000000,0.000000,0.000000,0.0000,0.000000,0.00000,0.00000,0.000000,0.000000
3,ENSG00000196331.5,0.000000,1.02798,0.000000,0.467348,0.0000,0.000000,0.00000,0.069414,0.000000,...,0.0000,0.368274,0.350147,0.731139,0.0000,0.286427,2.58268,0.00000,0.316356,0.051435
4,ENSG00000206044.3,0.000000,0.00000,0.000000,0.000000,0.0000,0.000000,0.00000,0.000000,0.000000,...,0.0000,0.000000,0.000000,0.000000,0.0000,0.000000,0.00000,0.00000,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34564,ENSG00000187210.8,37.356400,33.56510,35.484400,51.133500,27.8386,21.744900,28.12510,24.983100,25.709100,...,24.9907,39.985500,39.346000,41.377800,28.7666,31.729100,33.95120,17.40420,28.276000,40.175600
34565,ENSG00000263426.1,0.190104,0.00000,0.548476,0.000000,0.0000,0.411037,0.00000,0.000000,0.503257,...,0.0000,0.240386,0.000000,0.000000,0.0000,0.000000,0.00000,0.00000,0.093559,0.000000
34566,ENSG00000264729.1,0.000000,0.00000,0.000000,0.000000,0.0000,0.000000,0.00000,0.000000,0.872886,...,0.0000,0.000000,0.000000,0.000000,0.0000,0.000000,0.00000,0.00000,0.000000,0.000000
34567,ENSG00000263919.1,0.574838,0.00000,0.000000,0.000000,0.0000,3.579790,0.00000,0.000000,0.000000,...,0.0000,0.000000,0.000000,0.000000,0.0000,0.000000,0.00000,0.00000,0.000000,0.000000
34568,ENSG00000173894.6,9.644460,12.87150,19.001300,8.362670,14.7306,15.083000,9.09836,8.643880,8.863410,...,13.2858,11.385500,11.675600,11.789300,16.0718,12.169200,7.51422,6.26746,10.688200,43.362600

In [7]:
quant_rna_=quant_rna.drop(columns='Geneid')

In [8]:
a_quant_rna=quant_rna_.add(1)

In [9]:
log_quant_rna=np.log2(a_quant_rna)

In [10]:
d_log_quant_rna=pd.DataFrame(log_quant_rna)

In [11]:
# plus one and log2 transformed data of rna seq quant ir2
d_log_quant_rna

,10874.0,12499.0,12593.0,13039.0,13424.0,14281.0,14331.0,14426.0,15761.0,16580.0,...,59614.0,60002.0,60015.0,60024.0,60036.0,60095.0,60171.0,65002.0,65003.0,85242.0
0,4.600412,7.489463,6.218715,6.243604,8.330796,7.310867,6.646383,6.195139,7.259404,5.334014,...,6.658483,6.602273,7.144974,7.208400,7.952066,6.542750,7.172868,4.983942,7.313019,10.089013
1,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
2,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
3,0.000000,1.020043,0.000000,0.553211,0.000000,0.000000,0.000000,0.096820,0.000000,0.017498,...,0.000000,0.452357,0.433116,0.791722,0.000000,0.363370,1.841039,0.000000,0.396550,0.072359
4,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34564,5.261395,5.111244,5.189208,5.704139,4.849929,4.507471,4.864191,4.699502,4.739259,4.750912,...,4.699924,5.357042,5.334354,5.405237,4.895623,5.032502,5.127270,4.201963,4.871647,5.363718
34565,0.251088,0.000000,0.630849,0.000000,0.000000,0.496756,0.000000,0.000000,0.588092,0.000000,...,0.000000,0.310789,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.129031,0.000000
34566,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.905263,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
34567,0.655203,0.000000,0.000000,0.000000,0.000000,2.195281,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
34568,3.412031,3.794052,4.322022,3.226920,3.975502,4.007465,3.336049,3.269614,3.302087,3.014582,...,3.836510,3.630580,3.663982,3.676865,4.093543,3.719096,3.089874,2.861451,3.546981,5.471272

In [12]:
#transposed matrix
t_quant=d_log_quant_rna.T
t_quant

,0,1,2,3,4,5,6,7,8,9,...,34559,34560,34561,34562,34563,34564,34565,34566,34567,34568
10874.0,4.600412,0.0,0.0,0.000000,0.0,0.000000,0.000000,0.000000,0.0,0.00000,...,1.300381,0.812215,0.000000,0.047000,0.000000,5.261395,0.251088,0.0,0.655203,3.412031
12499.0,7.489463,0.0,0.0,1.020043,0.0,0.000000,0.000000,0.255966,0.0,0.17473,...,1.608748,0.293551,0.000000,0.210991,0.000000,5.111244,0.000000,0.0,0.000000,3.794052
12593.0,6.218715,0.0,0.0,0.000000,0.0,0.000000,0.000000,0.000000,0.0,0.00000,...,1.929772,0.950583,0.369857,0.000000,0.000000,5.189208,0.630849,0.0,0.000000,4.322022
13039.0,6.243604,0.0,0.0,0.553211,0.0,0.100292,0.000000,0.000000,0.0,0.00000,...,1.156060,0.000000,0.184626,0.751670,0.349870,5.704139,0.000000,0.0,0.000000,3.226920
13424.0,8.330796,0.0,0.0,0.000000,0.0,0.000000,0.000000,0.000000,0.0,0.00000,...,1.832035,0.832289,0.000000,0.000000,0.169653,4.849929,0.000000,0.0,0.000000,3.975502
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
60095.0,6.542750,0.0,0.0,0.363370,0.0,0.000000,0.000000,0.000000,0.0,0.00000,...,1.184991,1.155315,0.000000,0.000000,0.242353,5.032502,0.000000,0.0,0.000000,3.719096
60171.0,7.172868,0.0,0.0,1.841039,0.0,0.000000,0.000000,0.000000,0.0,0.00000,...,0.961086,0.416584,0.000000,0.000000,0.000000,5.127270,0.000000,0.0,0.000000,3.089874
65002.0,4.983942,0.0,0.0,0.000000,0.0,0.000000,0.000000,0.000000,0.0,0.00000,...,0.798477,0.000000,0.000000,0.000000,0.530963,4.201963,0.000000,0.0,0.000000,2.861451
65003.0,7.313019,0.0,0.0,0.396550,0.0,0.000000,0.210292,0.000000,0.0,0.00000,...,0.958631,0.336278,0.151351,0.000000,0.000000,4.871647,0.129031,0.0,0.000000,3.546981
85242.0,10.089013,0.0,0.0,0.072359,0.0,0.000000,0.000000,0.000000,0.0,0.00000,...,2.800478,2.798656,0.000000,0.000000,0.000000,5.363718,0.000000,0.0,0.000000,5.471272

In [13]:
searchfor = ['Healthy Control', "Parkinson's Disease"]

In [14]:
quant_p=quant_predict[quant_predict['COHORT_DEFINITION'].astype(str).str.contains('|'.join(searchfor))]

In [15]:
quant_p

     BL_PATNO    COHORT_DEFINITION
0       10874  Parkinson's Disease
1       12499      Healthy Control
2       12593  Parkinson's Disease
3       13039  Parkinson's Disease
4       13424  Parkinson's Disease
...       ...                  ...
1114    58865  Parkinson's Disease
1116    59174  Parkinson's Disease
1119    60002  Parkinson's Disease
1124    60171  Parkinson's Disease
1127    85242  Parkinson's Disease

[773 rows x 2 columns]

In [16]:
quant_new_predict=quant_p['BL_PATNO']

In [17]:
r_quant_patients=[int(x) for x in quant_new_predict]

In [18]:
#here we select those rna-seq data that includes both health control and parkinson 
selected_quant_rna=d_log_quant_rna[r_quant_patients]

In [19]:
select_quant_rna=selected_quant_rna.T

In [20]:
select_quant_rna

,0,1,2,3,4,5,6,7,8,9,...,34559,34560,34561,34562,34563,34564,34565,34566,34567,34568
10874.0,4.600412,0.0,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000,...,1.300381,0.812215,0.000000,0.047000,0.000000,5.261395,0.251088,0.000000,0.655203,3.412031
12499.0,7.489463,0.0,0.0,1.020043,0.0,0.000000,0.0,0.255966,0.0,0.174730,...,1.608748,0.293551,0.000000,0.210991,0.000000,5.111244,0.000000,0.000000,0.000000,3.794052
12593.0,6.218715,0.0,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000,...,1.929772,0.950583,0.369857,0.000000,0.000000,5.189208,0.630849,0.000000,0.000000,4.322022
13039.0,6.243604,0.0,0.0,0.553211,0.0,0.100292,0.0,0.000000,0.0,0.000000,...,1.156060,0.000000,0.184626,0.751670,0.349870,5.704139,0.000000,0.000000,0.000000,3.226920
13424.0,8.330796,0.0,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000,...,1.832035,0.832289,0.000000,0.000000,0.169653,4.849929,0.000000,0.000000,0.000000,3.975502
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
58865.0,6.606645,0.0,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000,...,1.083812,0.466148,0.000000,0.000000,0.000000,4.605441,0.000000,0.580808,0.000000,3.405064
59174.0,5.174422,0.0,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000,...,1.264975,0.308875,0.000000,0.000000,0.074258,4.818539,0.000000,0.000000,0.000000,3.417119
60002.0,6.602273,0.0,0.0,0.452357,0.0,0.357701,0.0,0.000000,0.0,0.357169,...,1.144999,0.968065,0.000000,0.067287,0.000000,5.357042,0.310789,0.000000,0.000000,3.630580
60171.0,7.172868,0.0,0.0,1.841039,0.0,0.000000,0.0,0.000000,0.0,0.000000,...,0.961086,0.416584,0.000000,0.000000,0.000000,5.127270,0.000000,0.000000,0.000000,3.089874
85242.0,10.089013,0.0,0.0,0.072359,0.0,0.000000,0.0,0.000000,0.0,0.000000,...,2.800478,2.798656,0.000000,0.000000,0.000000,5.363718,0.000000,0.000000,0.000000,5.471272

In [21]:
quant_p['COHORT_DEFINITION'].replace(['Healthy Control', "Parkinson's Disease"],
                        [0, 1], inplace=True)

/tmp/ipykernel_15264/93247712.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  quant_p['COHORT_DEFINITION'].replace(['Healthy Control', "Parkinson's Disease"],

In [22]:
quant_p

     BL_PATNO  COHORT_DEFINITION
0       10874                  1
1       12499                  0
2       12593                  1
3       13039                  1
4       13424                  1
...       ...                ...
1114    58865                  1
1116    59174                  1
1119    60002                  1
1124    60171                  1
1127    85242                  1

[773 rows x 2 columns]

In [23]:
#here we split the data quant
X_trainq, X_testq, y_trainq, y_testq = train_test_split(select_quant_rna,quant_p['COHORT_DEFINITION'], test_size=.3)

In [24]:
X_trainq

,0,1,2,3,4,5,6,7,8,9,...,34559,34560,34561,34562,34563,34564,34565,34566,34567,34568
3211.0,7.566610,0.0,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.0,...,1.607456,0.000000,0.000000,0.000000,0.000000,4.909082,1.344962e-01,0.000000,0.000000,3.521026
3631.0,6.442922,0.0,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.0,...,1.795717,0.000000,0.000000,0.000000,0.000000,4.852568,0.000000e+00,0.000000,1.272626,3.829038
3404.0,8.469422,0.0,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.0,...,3.157830,1.959544,0.400318,0.419930,1.294830,4.821858,1.021586e+00,0.000000,1.377823,4.358607
40585.0,7.468314,0.0,0.0,0.780354,0.0,0.000000,0.0,0.000000,0.0,0.0,...,0.711598,0.508498,0.000000,0.124588,0.000000,4.898107,0.000000e+00,0.350129,0.000000,3.600615
4004.0,5.589587,0.0,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.0,...,1.230922,0.269414,0.000000,0.000000,0.176241,4.406666,0.000000e+00,0.000000,0.000000,2.792712
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3836.0,7.620271,0.0,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.0,...,1.783038,1.347036,0.000000,0.754995,0.000000,5.113525,0.000000e+00,0.000000,0.000000,4.390454
3154.0,3.511177,0.0,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.0,...,0.947538,0.716682,0.000000,0.060356,0.000000,4.589236,0.000000e+00,0.000000,0.000000,3.477794
3172.0,5.929578,0.0,0.0,0.113435,0.0,0.000773,0.0,0.000000,0.0,0.0,...,0.671431,0.233925,0.000000,0.134638,0.859667,4.533221,2.907247e-08,0.000000,0.000000,2.965825
3773.0,7.013697,0.0,0.0,0.419650,0.0,0.000000,0.0,0.363865,0.0,0.0,...,2.057714,0.000000,0.000000,0.000000,0.000000,5.061102,0.000000e+00,0.000000,0.000000,3.758911
51540.0,6.955847,0.0,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.0,...,1.655553,0.985511,0.000000,0.000000,0.000000,4.708568,0.000000e+00,0.000000,0.000000,3.711924

In [25]:
X_testq

,0,1,2,3,4,5,6,7,8,9,...,34559,34560,34561,34562,34563,34564,34565,34566,34567,34568
41296.0,6.000915,0.0,0.0,1.193090,0.0,0.0,0.000000,0.000000,0.0,0.000000,...,1.444725,0.768337,0.00000,0.000000,0.00000,4.939598,0.000000,0.0,0.000000,3.505650
3502.0,7.269875,0.0,0.0,0.000000,0.0,0.0,0.000000,0.675180,0.0,0.000000,...,1.624340,1.756443,0.00000,0.000000,0.00000,4.680583,0.000000,0.0,0.000000,3.767634
3077.0,7.841854,0.0,0.0,0.000000,0.0,0.0,0.000000,0.954227,0.0,0.000000,...,1.228474,0.462560,0.00000,0.387272,0.00000,5.293072,0.000000,0.0,0.000000,3.710040
3450.0,7.052981,0.0,0.0,0.229560,0.0,0.0,0.707697,0.871229,0.0,0.857947,...,1.474052,1.278437,0.15257,0.128294,0.00000,4.869615,0.000000,0.0,0.810982,3.633792
53060.0,7.171017,0.0,0.0,0.516736,0.0,0.0,0.000000,0.000000,0.0,0.000000,...,1.292911,0.355767,0.00000,0.517335,0.00000,5.030460,0.000000,0.0,0.000000,3.240507
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
57965.0,6.751852,0.0,0.0,0.925664,0.0,0.0,0.000000,0.188027,0.0,0.000000,...,0.953697,0.736645,0.00000,0.000000,0.00000,4.584932,0.000000,0.0,0.000000,3.085637
3226.0,6.124963,0.0,0.0,0.000000,0.0,0.0,0.000000,0.000000,0.0,0.000000,...,1.225466,0.414452,0.00000,0.000000,0.12196,4.730145,0.000000,0.0,0.000000,3.581496
53308.0,6.468852,0.0,0.0,0.000000,0.0,0.0,0.000000,0.000000,0.0,0.000000,...,1.721640,0.000000,0.00000,0.000000,0.87652,5.066042,0.000482,0.0,0.000000,3.645413
42429.0,4.342448,0.0,0.0,0.000000,0.0,0.0,0.000000,0.000000,0.0,0.000000,...,1.414650,1.008200,0.00000,0.000000,0.00000,4.776967,0.000000,0.0,0.000000,3.858270
4033.0,7.163941,0.0,0.0,0.000000,0.0,0.0,0.000000,0.000000,0.0,0.000000,...,1.669666,1.127495,0.00000,0.317804,0.00000,4.665791,0.000000,0.0,0.000000,3.897879

In [26]:
y_trainq

101    1
281    0
765    1
444    0
416    1
      ..
372    1
719    1
724    1
322    1
987    1
Name: COHORT_DEFINITION, Length: 541, dtype: int64

In [27]:
#here we make the model
bst_q = XGBClassifier(n_estimators=2, max_depth=2, learning_rate=1, objective='binary:logistic')

In [29]:
#let's see the free model 
xgb_classifier = XGBClassifier()

In [31]:
#let's see the fit

xgb_classifier.fit(X_trainq, y_trainq)

XGBClassifier(base_score=None, booster=None, callbacks=None,
              colsample_bylevel=None, colsample_bynode=None,
              colsample_bytree=None, early_stopping_rounds=None,
              enable_categorical=False, eval_metric=None, feature_types=None,
              gamma=None, gpu_id=None, grow_policy=None, importance_type=None,
              interaction_constraints=None, learning_rate=None, max_bin=None,
              max_cat_threshold=None, max_cat_to_onehot=None,
              max_delta_step=None, max_depth=None, max_leaves=None,
              min_child_weight=None, missing=nan, monotone_constraints=None,
              n_estimators=100, n_jobs=None, num_parallel_tree=None,
              predictor=None, random_state=None, ...)

In [ ]:
#here we fit the model
bst_q.fit(X_trainq, y_trainq)

In [ ]:
#here we chech the prediction
preds_q = bst_q.predict(X_testq)

In [ ]:
#let us see  the prediction!
preds_xgboost = xgb_classifier.predict(X_testq)

In [ ]:
#let us see how the quant normalized data is doing
#predictions = [round(value) for value in y_pred]
# evaluate predictions
accuracy = accuracy_score(y_testq, preds_q)
print("Accuracy: %.2f%%" % (accuracy * 100.0))

In [ ]:
#let us see the result!!
accuracyxgb = accuracy_score(y_testq, preds_xgboost)
print("Accuracy: %.2f%%" % (accuracyxgb * 100.0))

In [ ]:
from sklearn.metrics import precision_score, recall_score, f1_score, roc_curve
from sklearn.metrics import roc_auc_score, confusion_matrix, precision_recall_curve

import matplotlib.pyplot as plt

In [ ]:
print('Accuracy:  ', accuracy_score(y_testq,xgb_classifier.predict(X_testq)))
print('Precision: ', precision_score(y_testq,xgb_classifier.predict(X_testq)))
print('Recall:    ', recall_score(y_testq,xgb_classifier.predict(X_testq)))
print('F1:        ', f1_score(y_testq,xgb_classifier.predict(X_testq)))
print('ROC-AUC:   ', roc_auc_score(y_testq,xgb_classifier.predict(X_testq)))
print('\nConfusion Matrix\n{0}'.format(confusion_matrix(y_testq,xgb_classifier.predict(X_testq))))