**In this part we take the matrix we created for BL quant IR2 and make a RNA-seq matrix with new PIDs**

In [1]:
import pandas as pd
import numpy as np
from pathlib import Path
import functools

Here we upload the the big diagnosis that we have created previously.

In [2]:
final2=pd.read_csv("final.csv", header=None,index_col=[0])

we make it readable order that we need to have with making the columns in appropriate way.

In [3]:
final=final2.rename(columns=final2.iloc[0]).drop(final2.index[0]).reset_index(drop=True)
final

,PATNO,AGE_AT_VISIT,AFICBERB,ASHKJEW,BASQUE,BIRTHDT,SEX,CHLDBEAR,HANDED,HISPLAT,RAASIAN,RABLACK,RAHAWOPI,RAINDALS,RANOS,RAWHITE,COHORT_DEFINITION
0,3000,69.1,0,0,0,12/1941,0,0,1,0,0,0,0,0,0,1,Healthy Control
1,3001,65.1,0,0,0,01/1946,1,NaN,2,0,0,0,0,0,0,1,Parkinson's Disease
2,3002,67.6,0,0,0,08/1943,0,0,1,0,0,0,0,0,0,1,Parkinson's Disease
3,3003,56.7,0,0,0,07/1954,0,0,1,0,0,0,0,0,0,1,Parkinson's Disease
4,3004,59.4,0,0,0,11/1951,1,NaN,1,0,0,0,0,0,0,1,Healthy Control
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1207,160252,80.3,0,0,0,05/1942,1,NaN,1,0,0,0,0,0,0,1,Parkinson's Disease
1208,161236,55.6,0,0,0,01/1967,1,NaN,1,0,0,0,0,0,0,1,Parkinson's Disease
1209,162140,68.8,0,0,0,10/1953,1,NaN,1,0,0,0,0,0,0,1,Prodromal
1210,162905,45.2,0,0,0,06/1977,1,NaN,1,0,0,1,0,0,0,0,Healthy Control
1211,162929,84.6,0,0,0,01/1938,1,NaN,1,0,0,0,0,0,0,1,Parkinson's Disease

We read off the raw matrix that we have created previously, they usually contain more patient that we have their diagnosis.

In [4]:
path_data=Path("/scratch/znazari/new_jobs_quant_ir2/final_data/")

In [5]:
bl_matrix=pd.read_csv(path_data/"bl_matrix_quant_ir2.txt", header=None, low_memory=False)
bl_matrix

,0,1,2,3,4,5,6,7,8,9,...,1528,1529,1530,1531,1532,1533,1534,1535,1536,1537
0,Name,10874.000000,12499.00000,12593.000000,13039.000000,13424.0000,14281.000000,14331.00000,14426.000000,15761.000000,...,60024.000000,60036.0000,60095.000000,60171.00000,65002.00000,65003.000000,65005.000000,65008.000000,70239.000000,85242.000000
1,ENSG00000198900.5,23.258400,178.70200,73.476600,74.772600,320.9730,157.778000,99.17530,72.269400,152.214000,...,146.892000,246.6340,92.231800,143.29400,30.64580,158.015000,102.585000,301.983000,155.320000,1088.170000
2,ENSG00000215515.2,0.000000,0.00000,0.000000,0.000000,0.0000,0.000000,0.00000,0.000000,0.000000,...,0.000000,0.0000,0.000000,0.00000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000
3,ENSG00000215399.2,0.000000,0.00000,0.000000,0.000000,0.0000,0.000000,0.00000,0.000000,0.000000,...,0.000000,0.0000,0.000000,0.00000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000
4,ENSG00000196331.5,0.000000,1.02798,0.000000,0.467348,0.0000,0.000000,0.00000,0.069414,0.000000,...,0.731139,0.0000,0.286427,2.58268,0.00000,0.316356,0.000000,0.000000,0.000000,0.051435
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34565,ENSG00000187210.8,37.356400,33.56510,35.484400,51.133500,27.8386,21.744900,28.12510,24.983100,25.709100,...,41.377800,28.7666,31.729100,33.95120,17.40420,28.276000,11.307400,23.275700,37.091100,40.175600
34566,ENSG00000263426.1,0.190104,0.00000,0.548476,0.000000,0.0000,0.411037,0.00000,0.000000,0.503257,...,0.000000,0.0000,0.000000,0.00000,0.00000,0.093559,0.251125,0.166027,0.342072,0.000000
34567,ENSG00000264729.1,0.000000,0.00000,0.000000,0.000000,0.0000,0.000000,0.00000,0.000000,0.872886,...,0.000000,0.0000,0.000000,0.00000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000
34568,ENSG00000263919.1,0.574838,0.00000,0.000000,0.000000,0.0000,3.579790,0.00000,0.000000,0.000000,...,0.000000,0.0000,0.000000,0.00000,0.00000,0.000000,0.000000,2.165340,0.000000,0.000000
34569,ENSG00000173894.6,9.644460,12.87150,19.001300,8.362670,14.7306,15.083000,9.09836,8.643880,8.863410,...,11.789300,16.0718,12.169200,7.51422,6.26746,10.688200,6.607400,19.248900,13.386700,43.362600

We resolve some problem that we have encoutered for reading the file

In [6]:
bl_matrix2=bl_matrix.rename(columns=bl_matrix.iloc[0]).drop(bl_matrix.index[0]).reset_index(drop=True)

In [7]:
bl_matrix2['Name']

0        ENSG00000198900.5
1        ENSG00000215515.2
2        ENSG00000215399.2
3        ENSG00000196331.5
4        ENSG00000206044.3
               ...
34564    ENSG00000187210.8
34565    ENSG00000263426.1
34566    ENSG00000264729.1
34567    ENSG00000263919.1
34568    ENSG00000173894.6
Name: Name, Length: 34569, dtype: object

Then we read the list of pateint that we have which is big and their diagnosis is not necessary available in the diagnosis matrix.

In [8]:
path1=Path("/scratch/znazari/PPMI_ver_sep2022/RNA_Seq_data/star_ir2/quant/")

In [9]:
bl_files=pd.read_csv(path1/"bl.txt", header=None )

In [10]:
def function_names(fname):
    tokens=fname.split('.')
    return tokens[1]

Below we will have the list of the patient IDs that are still larger than what is supposed to be.

In [11]:
bl_list=[]
for i in range(len(bl_files)):
    bl_list=bl_list+[function_names(bl_files.iloc[i][0])]

Below we ar going to have all the patients that we have their IDs and diagnosis.

In [12]:
patient_diagonises=final[['PATNO','COHORT_DEFINITION']]
patient_diagonises

       PATNO    COHORT_DEFINITION
0       3000      Healthy Control
1       3001  Parkinson's Disease
2       3002  Parkinson's Disease
3       3003  Parkinson's Disease
4       3004      Healthy Control
...      ...                  ...
1207  160252  Parkinson's Disease
1208  161236  Parkinson's Disease
1209  162140            Prodromal
1210  162905      Healthy Control
1211  162929  Parkinson's Disease

[1212 rows x 2 columns]

In [13]:
big_patients=list(patient_diagonises['PATNO'])
len(big_patients)

1212

Below we are going to check how many of those patients that we initially get from the files of the RNA-seq are actually have their diagnosis in the big list of patients with their diagnosis.

In [14]:
contains=[]
not_contains=[]
for i in bl_list:
    if i in big_patients:
        contains+=[i]
    else:
        not_contains+=[i]

Below we neet to get all the patient IDs which are represented as "string" to be presented as type integer, as it was for the list that we had in the orginal RNA-seq matrices.

In [15]:
r_contains=[int(x) for x in contains]

Below we just extract the list of patients that are in the big original diagnosis matrix.

In [16]:
bl_matrix3=bl_matrix2[r_contains]

Below we need to replace the geneID column that were missing previously.

In [17]:
bl_matrix3.insert(loc=0, column ='Geneid',value = bl_matrix2['Name'])

Finally we write the result into a txt file.

In [18]:
bl_matrix3.to_csv(path_data/"ordered_bl_matrix_ir2_quant.txt")

In [ ]:
ml_path=Path("/home/znazari/machine_learning_ppmi")

In [19]:
bl_matrix3.to_csv(ml_path/"ordered_bl_matrix_ir2_quant.txt")

There we go:

In [20]:
bl_matrix3

,Geneid,10874.0,12499.0,12593.0,13039.0,13424.0,14281.0,14331.0,14426.0,15761.0,...,4136.0,41381.0,4139.0,60002.0,60015.0,60024.0,60036.0,60095.0,60171.0,85242.0
0,ENSG00000198900.5,23.258400,178.70200,73.476600,74.772600,320.9730,157.778000,99.17530,72.269400,152.214000,...,263.076000,93.94930,75.86160,96.158800,140.531000,146.892000,246.6340,92.231800,143.29400,1088.170000
1,ENSG00000215515.2,0.000000,0.00000,0.000000,0.000000,0.0000,0.000000,0.00000,0.000000,0.000000,...,0.000000,0.00000,0.00000,0.000000,0.000000,0.000000,0.0000,0.000000,0.00000,0.000000
2,ENSG00000215399.2,0.000000,0.00000,0.000000,0.000000,0.0000,0.000000,0.00000,0.000000,0.000000,...,0.000000,0.00000,0.00000,0.000000,0.000000,0.000000,0.0000,0.000000,0.00000,0.000000
3,ENSG00000196331.5,0.000000,1.02798,0.000000,0.467348,0.0000,0.000000,0.00000,0.069414,0.000000,...,0.200955,0.00000,0.00000,0.368274,0.350147,0.731139,0.0000,0.286427,2.58268,0.051435
4,ENSG00000206044.3,0.000000,0.00000,0.000000,0.000000,0.0000,0.000000,0.00000,0.000000,0.000000,...,0.000000,0.00000,0.00000,0.000000,0.000000,0.000000,0.0000,0.000000,0.00000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34564,ENSG00000187210.8,37.356400,33.56510,35.484400,51.133500,27.8386,21.744900,28.12510,24.983100,25.709100,...,55.027900,20.29200,29.08950,39.985500,39.346000,41.377800,28.7666,31.729100,33.95120,40.175600
34565,ENSG00000263426.1,0.190104,0.00000,0.548476,0.000000,0.0000,0.411037,0.00000,0.000000,0.503257,...,0.297023,0.00000,0.00000,0.240386,0.000000,0.000000,0.0000,0.000000,0.00000,0.000000
34566,ENSG00000264729.1,0.000000,0.00000,0.000000,0.000000,0.0000,0.000000,0.00000,0.000000,0.872886,...,0.261177,0.00000,0.00000,0.000000,0.000000,0.000000,0.0000,0.000000,0.00000,0.000000
34567,ENSG00000263919.1,0.574838,0.00000,0.000000,0.000000,0.0000,3.579790,0.00000,0.000000,0.000000,...,4.202910,0.00000,2.23770,0.000000,0.000000,0.000000,0.0000,0.000000,0.00000,0.000000
34568,ENSG00000173894.6,9.644460,12.87150,19.001300,8.362670,14.7306,15.083000,9.09836,8.643880,8.863410,...,16.658200,7.60348,8.57887,11.385500,11.675600,11.789300,16.0718,12.169200,7.51422,43.362600